* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Helvetica, sans-serif;
  background: url(images/restaurant.jpg) no-repeat center center fixed;
  background-size: cover;
}
.container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header {
  /*background: black;*/
  height: 110px;
  width: 100%;
  text-align: center;
}
header img {
  height: 100%;
}
nav {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0.5em;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
}
nav ul li {
  flex-grow: 1;
  text-align: center;
}
nav li a {
  cursor: pointer;
  padding: 0.5rem;
  display: block;
  letter-spacing: 2px;
}
nav li a:hover {
  background: purple;
}
main {
  width: 100%;
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 80px;
  padding-top: 80px;
  margin-bottom: 50px;
}

footer {
  background: rgba(128, 0, 128, 0.5); /* rgb(5, 82, 82);*/
  height: 40px;
  width: 100%;
  font-size: 8px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 84px;
}
p {
  width: 65%;
  margin: 0 auto;
  font: size 18px;
}
a {
  color: white;
  text-decoration: none;
}
.link {
  border-bottom: 2px solid purple;
  padding: 2px;
  display: inline-block;
  margin-top: 30px;
}
section {
  display: flex;
  justify-content: center;
  margin: 45px 0;
}
